<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="rubi_Syncbr_zopone_integracaoContratoPortBinding">
          <security mode="Transport" />
        </binding>
        <binding name="rubi_Syncbr_zopone_integracaoContratoPortBinding1" />
        <binding name="rubi_Syncbr_zopone_integracaoFilialPortBinding">
          <security mode="Transport" />
        </binding>
        <binding name="rubi_Syncbr_zopone_integracaoFilialPortBinding1" />
        <binding name="rubi_Syncbr_zopone_integracaoOutraEmpresaPortBinding">
          <security mode="Transport" />
        </binding>
        <binding name="rubi_Syncbr_zopone_integracaoOutraEmpresaPortBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://webmg03.seniorcloud.com.br:37101/g5-senior-services/rubi_Syncbr_zopone_integracaoContrato"
        binding="basicHttpBinding" bindingConfiguration="rubi_Syncbr_zopone_integracaoContratoPortBinding"
        contract="SeniorContrato.rubi_Syncbr_zopone_integracaoContrato"
        name="rubi_Syncbr_zopone_integracaoContratoPort" />
      <endpoint address="https://webmg03.seniorcloud.com.br:37101/g5-senior-services/rubi_Syncbr_zopone_integracaoFilial"
        binding="basicHttpBinding" bindingConfiguration="rubi_Syncbr_zopone_integracaoFilialPortBinding"
        contract="SeniorFilial.rubi_Syncbr_zopone_integracaoFilial"
        name="rubi_Syncbr_zopone_integracaoFilialPort" />
      <endpoint address="https://webmg03.seniorcloud.com.br:37101/g5-senior-services/rubi_Syncbr_zopone_integracaoOutraEmpresa"
        binding="basicHttpBinding" bindingConfiguration="rubi_Syncbr_zopone_integracaoOutraEmpresaPortBinding"
        contract="SeniorOutraEmpresa.rubi_Syncbr_zopone_integracaoOutraEmpresa"
        name="rubi_Syncbr_zopone_integracaoOutraEmpresaPort" />
    </client>
  </system.serviceModel>
</configuration>